# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env
.venv

# Pyarmor
pyarmor_runtime_*/
*.pyarmor_config
*.pyarmor_cache

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Results and keys
win-results.key
win-results.json

# Other
*.log
*.bak
*.tmp

# Ignore virtual environments
env/
venv/
